<div id="main" class="pb-2 pt-2">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="chat-list">
          <ng-container *ngIf="chats$ | async as chats">
            <ul [@testAnimation]="chats.length">
              <li class="item text-center" *ngFor="let chat of chats" (click)="selectedChat = chat">
                {{ chat.name }}
              </li>
            </ul>
          </ng-container>
        </div>
        <button (click)="mockData()">Mock</button>
        <button (click)="mockDataUser()">MockUser</button>
      </div>
      <div class="col-sm-8">
        <div class="chat-feed">
          <app-chat-thread [chat]="selectedChat"></app-chat-thread>
        </div>
      </div>
    </div>
  </div>
</div>
  

