

  <div class="chat-messages">
    <div class="feed">
      <div class="message" *ngFor="let message of messageList$ | async">
        <app-message [msg]="message"></app-message>
      </div>
    </div>
  </div>
  <div class="row mt-3" (keydown.enter)="sendMessage()">
    <div class="col-sm-9">
      <div class="message-input">
        <textarea class="custom-styles" name="msg-input" [(ngModel)]="message.text" placeholder="Write a message..." id="" rows="3"></textarea>
      </div>
    </div>
    <div class="col-sm-3 d-flex align-items-center justify-content-center">
      <div class="actions">
        <button class="btn btn-primary" (click)="modal.open()"><small>Attach an offer</small></button>
      </div>
    </div>
  </div>
  



<app-modal #modal="CustomModal">
  <div class="modal-toolbar">
    <h3 class="mb-0">Offer information</h3>
    <span (click)="modal.close()">Close</span>
  </div>
  <div class="body d-flex justify-content-center align-items-center">
    <form [formGroup]="offerForm" class="offer-form">
      <div class="offer-descr">
        <label for="">Offer Description</label>
        <textarea class="custom-styles" name="offer-d" id="" cols="30" formControlName="offerDescription" rows="2"></textarea>
      </div>
      <div class="offer-amount">
        <label for="">Amount</label>
        <input type="number" class="custom-styles" formControlName="offerAmount">
      </div>
    </form>
  </div>
  <div class="footer d-flex justify-content-center">
    <div class="offer-actions text-right">
      <button (click)="offerAttached = true" class="btn btn-success">Attach</button>
    </div>
  </div>
</app-modal>