.chat-messages {
    border-bottom: 1px solid var(--verado-color);
    box-shadow: 0px 4px 4px rgba(6, 199, 162, .4);
}

.feed {
    height: 500px;
    background-color: #3f3f3f;
    transform-origin: center center;
    padding: 3px;
}

.message-input {
    width: 100%;
    padding: 5px 15px;
    position: relative;
}

.message-input:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -23px;
    transform: translateY(-50%);
    width: 1px;
    height: 60%;
    background-color: var(--verado-color);

}

.offer-form {
    width: 50%;
    padding: 1em;
}

.offer-actions {
    padding: 10px;
    width: 50%;
}


